# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# Visual Studio Code
.vscode/

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
app.dill
app.aot
app.jit
release/

# Android
android/local.properties
android/gradle/
android/gradlew
android/gradlew.bat
android/.gradle
android/captures/
# android/gradle.properties
android/key.properties
**/android/**/generated/
**/android/**/gradle-wrapper.jar

# iOS
ios/.generated/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Windows
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/ephemeral/

# Linux
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/flutter/ephemeral/

# macOS
macos/Flutter/generated_plugin_registrant.swift
macos/Flutter/ephemeral/

# Web
web/icons/Icon-192.png
web/icons/Icon-512.png
web/favicon.png

# Exceptions to above rules.
!/android/app/src/main/AndroidManifest.xml
!/ios/Runner/Info.plist
!/web/index.html
